@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --breakpoint-3xl: 120rem;
}

@theme {
  --color-primary: oklch(0.5802 0.0993 111.9);
  --color-secondary: oklch(0.7979 0.1536 88.04);
}
