@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --breakpoint-3xl: 120rem;
}

@theme {
  --color-primary: oklch(0.5802 0.0993 111.9);
  --color-secondary: oklch(0.7979 0.1536 88.04);
}

@layer components {
  .input-field {
    @apply py-2.5 px-3 font-medium rounded-lg border focus:outline focus:outline-gray-400 focus:shadow-[0px_0px_3px_rgba(0,0,0,0.4)] border-gray-200 w-full;
  }

  .button-primary {
    @apply bg-primary px-8 py-2 rounded text-white hover:scale-102 active:scale-95 duration-200 cursor-pointer;
  }
}